In [1]:
num1  = 25

num2 = float(num1)


#coverting variables from Integer to float

In [2]:

print(type(num2))

<class 'int'>

In [3]:
price = 40

cost = float(price)

In [4]:
print(type(cost))

<class 'float'>

In [5]:
num1 = 400

num2 = int(num1)

In [6]:
print(type(num2))

<class 'int'>

In [13]:
num1  =29
num2 = 8
num3 = num1 * num2

In [14]:
print(num3 == 1)

False

In [15]:
print(num3 == 200)

False

In [11]:
print(num1 > num2)

True

In [12]:
print(num2 > num1)

False

In [16]:
cost = 400
price = 450

profit = price - cost

In [17]:
print(price > cost)

True

In [19]:
print(price == cost)

False

In [20]:
print(cost < price)

True

In [21]:
cost = 500

quantity = 400

sp =  cost * quantity

In [22]:
print(sp == 100)

False

In [23]:
print(cost * quantity)

200000

In [24]:
print(sp == 200000)

True

In [31]:
num1 =  -11

num2 = abs(num1)


#abs =  recalling absolute numbers.

In [32]:
print(num2 == 11)

True

In [33]:
x = set 


price = [20,30,40,50,60,70]

In [40]:
#raising num1 to the power of  num2 




num1 = 30

num2 = -10

num3 = pow(num1,num2)

In [41]:
print(num3)

1.6935087808430286e-15

In [42]:
print(num3 == 1000000)

False

In [43]:
print(num2 <= num1)

#checking if Num2 is less than or equal to 1

True

In [51]:
result = ((25 % 7 + 10 / 2) % 3 == 0) and ((abs(-19) / 2 - 2) > 9)

 #should return False

In [52]:
print (result)

False

In [60]:
price = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']

char = len(price)

print (len(price))

7

In [58]:
len(price)

7